---
---

@import "minima";

.site-title::before {
	content: url("/assets/images/logo32.png");
	display: inline-block;
	position: relative;
	width: 32px;
	top: 8px;
}

.footer-col-wrapper::after{
	content: url("/assets/images/logo16.png")™;
	display: inline-block;
}